body {
  background-image: url("../img/bg.png");
}
a[ng-click] {
  cursor: pointer;
}
h1 {
  color: #2a6396 !important;
  text-shadow: 0px 0px 1px;
}
h2 {
  color: #900 !important;
  text-shadow: 0px 0px 1px;
}
.IconMenu,
i {
  margin-right: 10px;
}
.navbar-custom {
  background-color: #265a88;
  border-color: #1f496e;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3174b0), to(#265a88));
  background-image: -webkit-linear-gradient(top, #3174b0, 0%, #265a88, 100%);
  background-image: -moz-linear-gradient(top, #3174b0 0%, #265a88 100%);
  background-image: linear-gradient(to bottom, #3174b0 0%, #265a88 100%);
  background-repeat: repeat-x;
}
.navbar-custom .navbar-brand {
  color: #ccc;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #b3b3b3;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ccc;
}
.navbar-custom .navbar-nav > li > a {
  color: #ccc;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #1f496e;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#1f496e), to(#2a6396));
  background-image: -webkit-linear-gradient(top, #1f496e, 0%, #2a6396, 100%);
  background-image: -moz-linear-gradient(top, #1f496e 0%, #2a6396 100%);
  background-image: linear-gradient(to bottom, #1f496e 0%, #2a6396 100%);
  background-repeat: repeat-x;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #ddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #ccc;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #1f496e;
  color: #fff;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ccc;
  border-bottom-color: #ccc;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #1f496e;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ccc;
}
.navbar-custom .navbar-link:hover {
  color: #fff;
}
.iconos-publicacion {
  background: #faebd7;
  border-radius: 10px;
  padding: 5px;
}
.resultados-imagen {
  border: 1px solid #eee;
  border-radius: 5px;
}
.resultados-imagen:hover {
  box-shadow: 0px 0px 2px 2px #eee;
}
.resultados-precio {
  font-size: 20px;
  color: #333;
  line-height: 1.1;
  font-weight: bold;
}
.home-bloque {
  background: #fff;
  padding: 10px;
  border-radius: 13px;
  box-shadow: 1px 3px 11px #c3c3c3;
  border: none;
  color: #999;
  text-align: justify;
  font-size: 13px;
}
.home-bloque-titulo {
  background: #6083cb;
  display: inline-block;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0px 0px 10px -2px #000;
}
/* Editor styling */
.ta-toolbar {
  background-color: #f0f0f0;
  padding: 10px 10px 5px;
  margin-left: 0px !important;
  border: 1px solid #eee;
}
.ta-toolbar .btn-group {
  margin-bottom: 5px;
}
.ta-editor,
.white-box {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #eee;
  width: 100% !important;
  max-height: 100%;
}
.ta-scroll-window {
  background: #ddd;
}
.ta-bind {
  background: #fff !important;
  overflow: auto;
  max-height: 340px;
}
textarea.ta-bind {
  width: 100%;
  background: #fff !important;
  border: 1px solid #a00220;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  outline: none;
  background: #fff;
  cursor: inherit;
  display: block;
}
@media (max-width: 768px) {
  .panel-pub {
    margin: 0px;
  }
  .ContVender {
    padding: 0px 0px !important;
  }
  #resultado {
    padding: 0px 20px;
  }
  .panelvender {
    padding: 0px 20px;
  }
  .navbar .container-fluid {
    padding: 0px 20px;
  }
  .home-categorias {
    padding: 0px 10px;
  }
  .home-categorias .listaCategorias li {
    width: 100%;
  }
  .home-articulos {
    margin: 0px 20px;
  }
}
@media (min-width: 768px) {
  .panel-pub {
    margin: 0px 20px !important;
  }
  .ContVender {
    padding: 0px 20px !important;
  }
  #resultado {
    padding: 0px 20px;
  }
  .panelvender {
    padding: 0px 20px;
  }
  .navbar .container-fluid {
    padding: 0px 20px;
  }
  .home-categorias {
    padding: 0px 80px;
  }
  .home-categorias .listaCategorias li {
    width: 50%;
  }
  .home-articulos {
    margin: 0px 20px;
  }
}
@media (min-width: 992px) {
  .panel-pub {
    margin: 0px 80px !important;
  }
  .ContVender {
    padding: 0px 80px !important;
  }
  .panelvender {
    padding: 0px 20px;
  }
  #resultado {
    padding: 0px 20px;
  }
  #buscador {
    width: 260px;
  }
  .navbar .container-fluid {
    padding: 0px 20px;
  }
  .home-categorias {
    padding: 0px 10px;
  }
  .home-categorias .listaCategorias li {
    width: 33.333%;
  }
  .home-articulos {
    margin: 0px 80px;
  }
}
@media (min-width: 1200px) {
  .panel-pub {
    margin: 0px 80px !important;
  }
  .ContVender {
    padding: 0px 80px !important;
  }
  .panelvender {
    padding: 0px 80px;
  }
  #resultado {
    padding: 0px 80px;
  }
  #buscador {
    width: 500px;
  }
  .navbar .container-fluid {
    padding: 0px 80px 0px 80px;
  }
  .home-categorias {
    padding: 0px 80px;
  }
  .home-categorias .listaCategorias li {
    width: 33.333%;
  }
  .home-articulos {
    margin: 0px 80px;
  }
}
.center {
  text-align: center;
}
.listaCategorias {
  overflow: hidden;
}
.listaCategorias li {
  line-height: 2.5em;
  float: left;
  display: inline;
}
.listaCategorias li a {
  background: #eee;
  padding: 5px;
  border-radius: 10px;
  color: #000;
  font-size: 13;
}
.listaCategorias li a:hover {
  text-decoration: none;
  background: #ddd;
}
