body
  font-size 12px
  background #f3f3f3

#cuerpo
  background #fff

body 
  p, table, div
    font-size 12px

.form-control
  font-size 12px
  height 26px
  padding 3px 6px

.btn
  font-size 12px
  padding 3px 6px  

#cuerpo
  margin 0px 60px 0px 60px
  border 1px solid #ddd
  padding 10px
  overflow auto
@media (max-width: 768px) 
  #cuerpo
    margin 0px 0px 0px 0px


// @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
// @media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
// @media (min-width: @screen-lg-min) { ... }

