
<div class="modal-header">
  <button type="button" data-ng-click="cerrar()" class="close">&times;</button>
  <h3>{{Titulo}}</h3>
</div>
<div class="modal-body">
  <form name="inputform"></form>
  <div>
    <p>{{Mensaje}}</p>
    <div style="text-align:center" class="input-group">
      <input id="gBuscarCriterio" type="text" style="margin-bottom: 5px" placeholder="Ingrese el criterio de búsqueda" ng-model="Criterio" g-Saltar="Buscar()" required="required" class="form-control"/><span class="input-group-btn">
        <button style="margin-bottom:5px" ng-disabled="inputform.$invalid" ng-Click="Buscar()" class="btn btn-default">Buscar!</button></span>
    </div>
    <g-Tabla>data</g-Tabla>
    <alert type="danger" ng-show="MostrarMensaje">No se han encontrado datos</alert>
  </div>
</div>