<!doctype>
<html lan="es" ng-app="miapp">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Mercado Iquitos - Compra y venta en iquitos sin comisión</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-custom">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#"><img src="img/logo-ch2.png" style="height:50px; padding: 4px"/></a>
          </div>
          <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <form role="search" class="navbar-form navbar-left">
              <div ng-controller="resultadosCtrl" class="input-group">
                <input id="buscador" type="text" ng-model="criterio" placeholder="encontrar..." uib-popover="escribe lo que buscas" popover-trigger="mouseenter" popover-placement="bottom" class="form-control"/><span class="input-group-btn">
                  <button type="submit" style="height:34px" ng-click="buscar()" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button></span>
              </div>
            </form>
            <ul ng-controller="loginCtrl" class="nav navbar-nav navbar-right">
              <li><a href="#/registrar" ng-hide="FBLogged"><i class="fa fa-user-plus IconMenu"></i>Registrate</a></li>
              <li><a ng-click="Login()" ng-hide="FBLogged"> <i class="fa fa-user IconMenu"></i>Ingresa</a></li>
              <li class="dropdown"><a data-toggle="dropdown" ng-show="FBLogged" role="button" aria-haspopup="true" aria-expanded="false" style="padding:10px" class="dropdown-toggle">{{FBUsuario}} <img ng-show="FBLogged" ng-src="http://graph.facebook.com/{{FBCodUser}}/picture?type=small" style="height:30px; margin-left:10px"/><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#"> <i class="glyphicon glyphicon-th-list IconMenu"></i>Resumen</a></li>
                  <li><a href="#"> <i class="glyphicon glyphicon-shopping-cart IconMenu"></i>Mis Compras</a></li>
                  <li><a href="#"> <i class="glyphicon glyphicon-tags IconMenu"></i>Mis Ventas</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#"> <i class="glyphicon glyphicon-cog IconMenu"></i>Configuración</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a ng-click="LogOut()"> <i class="glyphicon glyphicon-log-out IconMenu"></i>Cerrar Sesión</a></li>
                </ul>
              </li>
              <li><a href="#/vender"><i class="fa fa-shopping-cart IconMenu"></i>Vender</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-question-sign IconMenu"></i></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section id="cuerpo" ng-view="ng-view"></section>
    <footer src="img/bg.png" style="padding:30px 15px; background:url(img/bgo.png)">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
            <h4 style="text-align:center">Quienes Somos</h4>
            <ul>             
              <li><a href="#">Misión</a></li>
              <li><a href="#">Visión</a></li>
              <li><a href="#">Valores</a></li>
            </ul>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
            <h4 style="text-align:center">Ayuda</h4>
            <ul>             
              <li><a href="#">Comprar</a></li>
              <li><a href="#">Vender</a></li>
              <li><a href="#">Ayuda</a></li>
            </ul>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
            <h4 style="text-align:center">Redes Sociales</h4>
            <ul>             
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twiter</a></li>
              <li><a href="#">Youtube</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div id="fb-root"></div>
  </body>
  <link rel="stylesheet" type="text/css" href="css/mi.css"/>
  <link rel="stylesheet" type="text/css" href="libs/normalize-3.0.2/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.6/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.6/css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" type="text/css" href="libs/font-awesome-4.4.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="libs/angular-file-upload/css/UploadCss.css"/>
  <link rel="stylesheet" type="text/css" href="libs/textAngular-1.5.0/textAngular.css"/>
  <script type="text/javascript" src="libs/angular-file-upload/ext/es5-shim.min.js">   </script>
  <script type="text/javascript" src="libs/angular-file-upload/ext/es5-sham.min.js"></script>
  <script type="text/javascript" src="libs/jquery-2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="libs/angular-file-upload/ext/console-sham.min.js"> </script>
  <script type="text/javascript" src="libs/bootstrap-3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="libs/angular-1.5.0/angular.min.js">   </script>
  <script type="text/javascript" src="libs/angular-1.5.0/angular-animate.min.js"></script>
  <script type="text/javascript" src="libs/angular-1.5.0/angular-sanitize.js"></script>
  <script type="text/javascript" src="libs/angular-1.5.0/angular-touch.min.js"></script>
  <script type="text/javascript" src="libs/angular-1.5.0/angular-route.min.js"></script>
  <script type="text/javascript" src="libs/textAngular-1.5.0/textAngular-rangy.min.js"></script>
  <script type="text/javascript" src="libs/textAngular-1.5.0/textAngular-sanitize.min.js"></script>
  <script type="text/javascript" src="libs/textAngular-1.5.0/textAngular.min.js"></script>
  <script type="text/javascript" src="libs/angular-file-upload/ext/angular-file-upload.min.js"></script>
  <script>
    // Load the SDK asynchronously
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    
    
    window.fbAsyncInit = function() {
      var app_id = '220550398321588';
      FB.init({
        appId      : app_id,
        status     : true,
        cookie     : true, 
        xfbml      : true, 
        version    : 'v2.1'
      });
    }
    
  </script>
  
  <script type="text/javascript" src="libs/ui-bootstrap-tpls-1.2.4.min.js">
  </script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/controllers/categoriasCtrl.js">   </script>
  <script type="text/javascript" src="js/controllers/resultadosCtrl.js"></script>
  <script type="text/javascript" src="js/controllers/confirmacionCtrl.js"></script>
  <script type="text/javascript" src="js/controllers/venderCtrl.js"></script>
  <script type="text/javascript" src="js/controllers/loginCtrl.js"></script>
  <script type="text/javascript" src="js/controllers/publicacionCtrl.js"></script>
  <script type="text/javascript" src="js/controllers/errorCtrl.js"></script>
  <script type="text/javascript" src="js/directives/gSaltarDirective.js"></script>
  <script type="text/javascript" src="js/directives/gValidarDirective.js"></script>
  <script type="text/javascript" src="js/directives/gTablaDirective.js"></script>
  <script type="text/javascript" src="js/directives/ngThumbDirective.js"></script>
  <script type="text/javascript" src="js/services/gQueryService.js"></script>
  <script type="text/javascript" src="js/services/gSessionService.js"></script>
  <script type="text/javascript" src="js/services/gPublicacionService.js"></script>
</html>