
<div class="container-fluid ContVender">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h2>¡felicitaciones!</h2>
        <p>Tu publicación ha sido registrada con éxito, accede a ella desde el siguiente link:</p><a href="{{enlace}}">Aqui</a><br/>
        <p>También puedes compartir tu publicación en facebook:</p>
        <div data-href="http://mercadoiquitos.com/{{enlace}}" data-layout="button" data-mobile-iframe="true" class="fb-share-button">
        </div>
      </div>
    </div>
  </div>
</div>