.container-fluid.ContVender
  .row
    .panel.panel-default
      .panel-body.text-center
        h2 Ups!
        h3 Al parecer tenemos un problema...
        img(src='img/zombies.gif' style='width:100%; max-width:400px')
        p Parece que el contenido que buscas no está disponible :-(
        
        p ¿Has introducido bien la dirección? ¿Has llegado desde un enlace externo?. Si crees que hay un error, por favor, comunicánoslo mediante el formulario (si es algo muy grave, facil te ganas algo =P).
        form.form-horizontal(style='text-align:center')
          .col-lg-8.col-lg-offset-2
            textarea.form-control#textarea(name="textarea" ng-model='ErrorMdl')
          .col-lg-12(style='margin-top:10px')
            button.btn.btn-danger(ng-click='RegistrarError()') 
              i.glyphicon.glyphicon-warning-sign(style='margin-right:10px')
              | Enviar Error
          

