
section
  articule(style='margin-top:35px; display:block')
    img(src='img/logo-ch.png' style='display:block; margin:auto; max-width: 351px; width: 90%;')
    h2.center ¡Encuenta Lo que Buscas!
    p.center Hay miles de productos publicados, las mejores marcas y los precios más bajos y todos de iquitos!

    .home-categorias
      h4 Categorias
      ul.listaCategorias
        li(ng-repeat='item in categorias')
          a(href='{{item.link}}')
            {{item.Categoria}}

      p.center
        img(src='img/todos.png' style='width:80%; max-width:800px')
    article.center(style='background:url(img/bgo.png); padding:20px') ¿Aun no tienes cuenta? 
      button.btn.btn-primary(type='submit') Registrate grátis!

    article.home-articulos(src='img/bg2.png')
      .container-fluid
        .row
          .col-xs-12.col-sm-6.col-md-4.col-xl-4(style='margin-bottom:20px')
            h4.home-bloque-titulo Compra sin moverte de tu casa
            .container-fluid
              .row.home-bloque
                .col-md-4.col-xl-4(style='text-align:center') 
                  img(src='img/pagina/comprar2.jpg' style='max-width:100%')
                .col-md-8.col-xl-8 Encuentra lo que necesitas, y coordina el pago y la entrega con el vendedor. Es fácil y rápido. ¡Todos podemos hacerlo!.

          .col-xs-12.col-sm-6.col-md-4.col-xl-4(style='margin-bottom:20px')
            h4.home-bloque-titulo Compra seguro
            .container-fluid
              .row.home-bloque
                .col-md-4.col-xl-4(style='text-align:center')
                  img(src='img/pagina/seguro3.jpg' style='max-width:100%')
                .col-md-8.col-xl-8 No te arriesgues a comprar a través de páginas de otra ciudad que no te garantizan que tu producto te llegue o a través de redes sociales en que no puedes ver la reputación del vendedor.
          .col-xs-12.col-sm-6.col-md-4.col-xl-4(style='margin-bottom:20px')
            h4.home-bloque-titulo Vende sin comisión
            .container-fluid
              .row.home-bloque
                .col-md-4.col-xl-4(style='text-align:center') 
                  img(src='img/pagina/seguro3.jpg' style='max-width:100%')
                .col-md-8.col-xl-8 Cansado de tener que postear cada hora tus productos en grupos de facebook en donde no generas ningun historial ni reputación?, vende sin comisión en mercadoiquitos.com.
      //- div.caja1
        h5(style='font-size:20px') Compra sin moverte
        div
          img(src='img/logo.png' width="96" height="81")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia laborum aperiam iusto ipsam distinctio deserunt at accusantium praesentium


//- div.row-fluid
//-   .panel.panel-default
//-     .panel-heading
//-       h3.panel-title Inicio
//-     .panel-body(ng-disabled='true')
//-       p( style='text-align:center')
//-         | licenciado a:
//-         br
//-         img(src='img/logo.jpg')
//-       h1(style='text-align:center') Sistema de control VeterinariApp
//-       br
//-       p El presente sistema le permitirá administrar las ventas de productos, servicios, servicio comunitario,tratamiento, medicinas.
//-       |Asimismo, estos generarán un control estadístico y contable que le permitirá gestionar adecuadamente los ingresos de la organiazción así como poder hacer estadísticas sobre la como ha ido variando sus ventas. 
//-       br
//-       | Para iniciar podrá utilizar los Menus de la parte superior izquierda, en la parte superior derecha está el menu de usuario desde donde podrá modificar información personal, contraseña, avatar y cerrar session.
//-       br
//-       | Cualquier consulta adicional contáctenos al correo serviciotec@papirosoft.com

    
