.container-fluid.ContVender
  .row
    .panel.panel-default
      .panel-body(ng-hide='FBLogged' style='text-align:center; padding:20px')
        h2 Registrate
        p Para mayor comodidad ahora puedes registrarse a través de facebook:
        .col-lg-6.col-lg-offset-3.col-md-6.col-lg-offset-6.col-sm-12.col-xs-12
          .panel.panel-default
            .panel-heading Registro Automático              
            .panel-body
              button.btn.btn-primary.btn-large(ng-click='Login()' ng-hide='FBLogged') Accede a través de tu Facebook!!

        //- .col-lg-6.col-md-6.col-sm-12.col-xs-12
          .panel.panel-default
            .panel-heading Registro Manual
            .panel-body
              form.form-horizontal
                .form-group
                  label.col-md-4.control-label(for='FBUser') Usuario
                  .col-md-4
                    input#FBUser.form-control.input-md(name='FBUser', type='text', placeholder='Usuario', required='')
                  
                .form-group
                  label.col-md-4.control-label(for='FbClave') Clave
                  .col-md-4
                    input#FbClave.form-control.input-md(name='FbClave', type='password', placeholder='clave', required='')
                  
                .form-group
                  label.col-md-4.control-label(for='FBemail') E-mail
                  .col-md-6
                    input#FBemail.form-control.input-md(name='FBemail', type='text', placeholder='email', required='')
                                    
                .form-group
                  .col-md-4.col-md-offset-4(style='text-align:center')
                    button#singlebutton.btn.btn-primary(name='singlebutton') 
                      i.glyphicon.glyphicon-star.iconMenu
                      | ¡Registrame!


          
      .pane-body(ng-show='FBLogged' style='text-align:center; padding:20px')
        h2 ¡ya iniciaste sesión!
        br
        a.btn.btn-primary.btn-large(href='#/home') date una vuelta a ver si compras algo =)