
<div class="container-fluid ContVender">
  <div class="row">
    <div class="panel panel-default">
      <div ng-hide="FBLogged" style="text-align:center; padding:20px" class="panel-body">
        <h2>Registrate</h2>
        <p>Para mayor comodidad ahora puedes registrarse a través de facebook:</p>
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-lg-offset-6 col-sm-12 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">Registro Automático              </div>
            <div class="panel-body">
              <button ng-click="Login()" ng-hide="FBLogged" class="btn btn-primary btn-large">Accede a través de tu Facebook!!</button>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="FBLogged" style="text-align:center; padding:20px" class="pane-body">
        <h2>¡ya iniciaste sesión!</h2><br/><a href="#/home" class="btn btn-primary btn-large">date una vuelta a ver si compras algo =)</a>
      </div>
    </div>
  </div>
</div>