section#vender
  .container-fluid(style='padding:0px 80px')
    .row
      uib-tabset(active='PasoActual' justified="true")
        uib-tab(index='0', heading='1. Elige un título' disable='EstadoTab1') 
          .panel
            .panel-body
                .panel.panel-default(style='text-align:center')
                  .panel-body(style='display:inline-block; text-align:left')
                    | Escribe un título para tu publicación. Cuanta más información, ¡mejor!
                    form(name="TituloForm")
                      .input-group(style='max-width:800px')      
                        input.form-control(ng-model='TituloPublicacion' placeholder='Título de publicación' maxlength ='60' required)
                        span.input-group-btn
                          button.btn.btn-default(type="button" ng-disabled="TituloForm.$invalid" ng-click='pasar(1)') Continuar
                      span(style='color:#ddd') Quedan {{60 - TituloPublicacion.length}}
                  //- .panel-footer
                    button() algo
        uib-tab(index='1', heading='2. Elige qué quieres publicar', disable='EstadoTab2') 
          .panel
            .panel-body
              .row
                .col-xs-12.col-sm-6.col-md-3.col-lg-3.col-xl-3
                  .panel.panel-default
                    .panel-body(style='height:400px; overflow:auto')
                      .list-group
                        a.list-group-item(ng-repeat="item in nivel1" ng-class="{active: CatNivel1==item.Id}" ng-click='SelNivel1(item.Id)' data-codigo='item.Id') {{item.Valor}}
                .col-xs-12.col-sm-6.col-md-3.col-lg-3.col-xl-3
                  .panel.panel-default
                    .panel-body(style='height:400px; overflow:auto')
                      .list-group
                        a.list-group-item(ng-repeat="item in nivel2" ng-class="{active: CatNivel2==item.Id}" ng-click='SelNivel2(item.Id)' data-codigo='item.Id') {{item.Valor}}
                .col-xs-12.col-sm-6.col-md-3.col-lg-3.col-xl-3
                  .panel.panel-default
                    .panel-body(style='height:400px; overflow:auto')
                      .list-group
                        a.list-group-item(ng-repeat="item in nivel3" ng-class="{active: CatNivel3==item.Id}" ng-click='SelNivel3(item.Id)' data-codigo='item.Id') {{item.Valor}}
                .col-xs-12.col-sm-6.col-md-3.col-lg-3.col-xl-3
                  .panel.panel-default
                     .panel-body(style='height:400px; overflow:auto')
                      .list-group
                        a.list-group-item(ng-repeat="item in nivel4" ng-class="{active: CatNivel4==item.Id}" ng-click='SelNivel4(item.Id)' data-codigo='item.Id') {{item.Valor}}
                .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                  .panel.panel-default
                    .panel-body
                      button.btn.btn-primary(ng-click='pasar(0)') Regresar
                      button.btn.btn-primary.animate-if(ng-if='CatNivel4' ng-click='pasar(2)') Siguiente
        uib-tab(index='2', heading='3. Describe tu producto', disable='EstadoTab3')                   
          .panel
            .panel-body
                .panel.panel-default(style='text-align:center')
                  .panel-body(style='display:inline-block; text-align:left')
                    //- div(ng-controller='UploadCtrl', nv-file-drop='', uploader='uploader')
                      .container
                        .row
                          .col-md-3
                            input(type='file', nv-file-select='', uploader='uploader', multiple='')
                            br
                          .col-md-9(style='margin-bottom: 40px')
                            h2 Uploads only images (with canvas preview)
                            h3 The queue
                            p Queue length: {{ uploader.queue.length }}
                            table.table
                              thead
                                tr
                                  th(width='50%') Name
                                  th(ng-show='uploader.isHTML5') Size
                                  th(ng-show='uploader.isHTML5') Progress
                                  th Status
                                  th Actions
                              tbody
                                tr(ng-repeat='item in uploader.queue')
                                  td
                                    strong {{ item.file.name }}
                                    // Image preview
                                    // auto height
                                    // <div ng-thumb="{ file: item.file, width: 100 }"></div>
                                    // auto width
                                    div(ng-show='uploader.isHTML5', ng-thumb='{ file: item._file, height: 100 }')
                                    // fixed width and height
                                    // <div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>
                                  td(ng-show='uploader.isHTML5', nowrap='') {{ item.file.size/1024/1024|number:2 }} MB
                                  td(ng-show='uploader.isHTML5')
                                    .progress(style='margin-bottom: 0;')
                                      .progress-bar(role='progressbar', ng-style="{ 'width': item.progress + '%' }")
                                  td.text-center
                                    span(ng-show='item.isSuccess')
                                      i.glyphicon.glyphicon-ok
                                    span(ng-show='item.isCancel')
                                      i.glyphicon.glyphicon-ban-circle
                                    span(ng-show='item.isError')
                                      i.glyphicon.glyphicon-remove
                                  td(nowrap='')
                                    button.btn.btn-success.btn-xs(type='button', ng-click='item.upload()', ng-disabled='item.isReady || item.isUploading || item.isSuccess')
                                      span.glyphicon.glyphicon-upload
                                      |  Upload
                                    button.btn.btn-warning.btn-xs(type='button', ng-click='item.cancel()', ng-disabled='!item.isUploading')
                                      span.glyphicon.glyphicon-ban-circle
                                      |  Cancel
                                    button.btn.btn-danger.btn-xs(type='button', ng-click='item.remove()')
                                      span.glyphicon.glyphicon-trash
                                      |  Remove
                            div
                              div
                                | Queue progress:
                                .progress(style='')
                                  .progress-bar(role='progressbar', ng-style="{ 'width': uploader.progress + '%' }")
                              button.btn.btn-success.btn-s(type='button', ng-click='uploader.uploadAll()', ng-disabled='!uploader.getNotUploadedItems().length')
                                span.glyphicon.glyphicon-upload
                                |  Upload all
                              button.btn.btn-warning.btn-s(type='button', ng-click='uploader.cancelAll()', ng-disabled='!uploader.isUploading')
                                span.glyphicon.glyphicon-ban-circle
                                |  Cancel all
                              button.btn.btn-danger.btn-s(type='button', ng-click='uploader.clearQueue()', ng-disabled='!uploader.queue.length')
                                span.glyphicon.glyphicon-trash
                                |  Remove all
                    div(ng-controller="UploadCtrl" nv-file-drop="" uploader="uploader")
                      .container
                        .row
                          .col-md-3
                            input(type="file" nv-file-select="" uploader="uploader" multiple)

                          .col-md-9(style="margin-bottom: 40px")
                            h2 Seleccione las imágenes
                            h3 The queue
                            p Queue length: {{ uploader.queue.length }}
                              table.table
                                thead
                                  tr
                                    th(width="50%") Name
                                    th(ng-show="uploader.isHTML5") Size
                                    th(ng-show="uploader.isHTML5") Progress
                                    th Status
                                    th Actions
                                  
                                  tr(ng-repeat="item in uploader.queue")
                                    td
                                      strong {{ item.file.name }}
                                      div(ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }")
                                    
                                    td(ng-show="uploader.isHTML5" nowrap){{ item.file.size/1024/1024|number:2 }} MB
                                    td(ng-show="uploader.isHTML5")
                                      .progress(style="margin-bottom: 0;")
                                        .progress-bar(role="progressbar" ng-style="{ 'width': item.progress + '%' }")
                                              
                                    td.text-center
                                      span(ng-show="item.isSuccess")
                                        i.glyphicon.glyphicon-ok
                                      span(ng-show="item.isCancel")
                                        i.glyphicon.glyphicon-ban-circle
                                      span(ng-show="item.isError")
                                        i.glyphicon.glyphicon-remove
                                    td(nowrap)
                                      button.btn.btn-success.btn-xs(type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess") Upload
                                        span.glyphicon.glyphicon-upload
                                      
                                      button.btn.btn-warning.btn-xs(type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading") Cancel
                                        span.glyphicon.glyphicon-ban-circle
                                        
                                      button.btn.btn-danger.btn-xs(type="button" ng-click="item.remove()") Remove
                                        span.glyphicon.glyphicon-trash
                                    
                              div
                                div Queue progress:
                                  div.progress(style="")
                                    div.progress-bar(role="progressbar" ng-style="{ 'width': uploader.progress + '%' }")
                                  
                              
                                button.btn.btn-success.btn-s(type="button" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length") Upload all
                                  span.glyphicon.glyphicon-upload
                              
                                button.btn.btn-warning.btn-s(type="button" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading") Cancel all
                                  span.glyphicon.glyphicon-ban-circle
                                
                                button.btn.btn-danger.btn-s(type="button" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length") Remove all
                                  span.glyphicon.glyphicon-trash
              
                    //- form(name="upload")
                      //- label.btn.btn-primary(for="img1") text
                        //- input#my-file-selector(type="file" style="display:none") 
                       
                        //- input#img1(type="file" name="file" uploader-model="file" ngf-change="onChange($files)" ngf-select ng-model='picFile' accept="image/png, image/jpeg, image/jpg" style="display:none")
                        //- img(ng-show="file.name != null" ngf-src="file.name" class="thumb")

                    
                      //- span.btn.btn-default.btn-file
                        input(type="file" id="file" name="file" uploader-model="file" ngf-change="onChange($files)" ngf-select ng-model='picFile' accept="image/png, image/jpeg, image/jpg, application/msword, application/vnd.ms-excel, application/pdf")
                      img(ngf-src="file" class="thumb")
                      span  archivo es {{file.name}}
                      button.btn.btn-primary(ng-click='uploadFile()') Enviar
             //- input(type="submit" value="Enviara")
        uib-tab(index='3', heading='4. Ingresa Precio y Cantidad', disable='EstadoTab4')
        uib-tab(index='4', heading='5. Confirma tu publicación', disable='EstadoTab5') 
          //- |  tab 2
          //- button(ng-click='pasar(0)') Regresar

script(type="text/javascript" src="libs/angular-file-upload/js/ngThumbDirective.js")
script(type="text/javascript" src="libs/angular-file-upload/js/UploadCtrl.js")

