section#vender
  .container-fluid.ContVender
    .row
      .panel
        .panel-body
          .panel.panel-default
            .panel-body
              form.form-horizontal(name="PublicacionForm")
                fieldset
                  legend 
                    i.fa.fa-tachometer
                    | Paso 1: Datos de Registro
                  p Por favor ingresa el título de la publicación lo más datallado posible (máximo 60 letras), el precio y elige la categoría a buscar, dependiendo de la categoría se mostrarán otras opciones adicionales.
                  .form-group
                    label.col-md-4.control-label Titulo de la publicación
                    .col-md-6
                      input.form-control.input-md(type='text', placeholder='Mientras más detallado mejor' maxlength='60' required ng-model='Publicacion.Titulo')
                      span.help-block Quedan ({{60-Publicacion.Titulo.length}})
                  .form-group
                    label.col-md-4.control-label Precio
                    .col-md-1
                      select.form-control(ng-model='Publicacion.Moneda')
                        option(value='S/' selected) S/
                        option(value='$' selected) $
                    .col-md-2
                      input.form-control.input-md.text-right(type='text' ng-model='Publicacion.Precio' g-validar='decimal')
                  .form-group
                    label.col-md-4.control-label Categoría
                    .col-md-4
                      select.form-control(ng-model='Publicacion.Categoria' ng-change='CargarCaracteristicas(Publicacion.Categoria)')
                        option(ng-repeat='item in Categorias track by $index' value='{{item.Id}}') {{item.Categoria}}
                br 
                br
                br
                fieldset(ng-show="Caracteristicas.length > 0")
                  legend 
                    i.fa.fa-cogs
                    | Paso 2: Características Específicas
                  p A continuación se enlistan las características específicas para la característica seleccionada, selecciona (chequea) aquellas que quieras incluir en tu publicación.
                  div(ng-repeat='item in Caracteristicas')
                    .col-md-2.text-right
                      .checkbox
                        label
                          input(type='checkbox' name='Chk_{{item.Id}}' ng-click="CargarDetalle(item.Id, $index, item.Caracteristica)")
                          | {{item.Caracteristica}}
                    .col-md-2
                      select.form-control(ng-disabled='!item.Detalle.length > 0' ng-model='Publicacion.Caracteristicas[item.Caracteristica]')
                        option(value="{{detalle.Id}}" ng-repeat='detalle in item.Detalle') {{detalle.Detalle}}
                
                br 
                br
                br
                fieldset(ng-show="Caracteristicas.length > 0")
                  legend
                    i.fa.fa-cog
                    | Paso 3: Detalles Generales
                  p A continuación se enlistan las características Generales, por favor selecciona una opción para cada una.
                  div(ng-repeat='item in CaracteristicasG')
                    label.col-md-2.control-label {{item.Caracteristica}}
                    .col-md-2
                      select.form-control(ng-model='Publicacion.Generales[item.Caracteristica]' ng-change='ImpPubli()')
                        option(value="{{detalle.Id}}" ng-repeat='detalle in item.Detalle') {{detalle.Detalle}}
                br
                br
                br
                fieldset(ng-show="Caracteristicas.length > 0")
                  legend 
                    i.fa.fa-file-text-o 
                    | Paso 4: Descripción
                  p Por favor ingresa el detalle del producto, expláyate todo lo que puedas. 
                  br
                  p <strong>No incluyas datos de contacto en tu publicación porque será dada de baja.</strong> El comprador recibirá tus datos luego de comprar.
                  .row                    
                    .lighter
                      div#contenidoPub(text-angular='', ng-model='Publicacion.Descripcion', name='descripcion', ta-text-editor-class='border-around container', placeholder='Describe aqui tu producto' ta-html-editor-class='border-around' style='width:100%')
                br
                br
                br
                fieldset(ng-show="Caracteristicas.length > 0")
                  legend 
                    i.fa.fa-picture-o
                    | Paso 6: Fotos de tu producto
                  div( nv-file-drop='', uploader='uploader')
                    .row
                      .col-md-12(style='margin-bottom: 40px')                                                  
                        p Fotos subidas: {{ uploader.queue.length }}
                        input(type='file', nv-file-select='', uploader='uploader', multiple='' style='margin-bottom:10px')   
                        .col-xs-6.col-sm-6.col-md-3.col-lg-2.thumbnail(ng-repeat='item in uploader.queue' style='text-align:center; margin:2px')
                          //- strong {{ item.file.name }}
                          div(ng-show='uploader.isHTML5', ng-thumb='{ file: item._file, height: 100 }')                            
                          .progress(style='margin-bottom: 0px; margin-top: 10px')
                            .progress-bar(role='progressbar', ng-style="{ 'width': item.progress + '%' }")
                            button.btn.btn-danger.btn-xs(type='button', ng-click='item.remove()')
                              span.glyphicon.glyphicon-trash
            .panel-footer
              button.btn.btn-primary(ng-show="FBLogged" ng-click='Publicar()' ng-disabled='!ActivoPublicar()')
                //- ng-disabled='!ActivoPublicar()'
                i.fa.fa-thumbs-o-up(style='margin-right:10px')
                | Publicar
              button.btn.btn-primary(ng-show="!FBLogged" ng-click='Login()') 
                i.fa.fa-facebook-square(style='margin-right:10px')
                | Inicia sesión para Publicar
          